.name {
		font-style: italic;
	} 
a {
		text-decoration: none;
}
a:hover {
		text-decoration: underline;
		background-color: lightblue;
}
table, th {
		font-style: italic;
}

tbody {
		background-color: LemonChiffon;
}
thead {
		background-color: grey;
}
