.name {
		font-style: italic;
	} 
a:hover {
		text-decoration: underline;
		background-color: lightblue;
}
a {
		text-decoration: none;
}
table, th {
		border-collapse: collapse;
		font-style: italic;
}

tbody {
		background-color: LemonChiffon;
}
thead {
		background-color: grey;
}
